{% extends "base.html" %}

{% block title %}
page add a new server 
{% endblock %}

{% block content %}  
    
    {% if user.is_authenticated %}
        <h1>add new server</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="save new server">
        </form> 
    {% else %}
        <form method="get" action="{% url 'login' %}">
            <button type="submit">Enter to site</button>
        </form> {% endif %}        

{% endblock %}  