<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
</head>
<body>
    <h1>Delete Account</h1>

<p>
    This action is permanent.
    Your profile and all of your servers will be deleted.
</p>
    <form method='post' action={% url 'delete_account' %} >
        {% csrf_token %}
        <button type="submit">delete</button>
    <a href = {% url "profile" %}>NO</a>
</body>
</html>