<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Server Minecraft</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">out from site</button>
        </form>

        <a href="{% url 'server_list' %}">Server List</a>   

    {% else %}
        <form method="get" action="{% url 'login' %}">
            <button type="submit">Enter to site</button>
        </form> {% endif %} 
    <h1>site show your server Minecraft</h1> 
       
</body>
</html>