<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>پروفایل</title>
</head>
<body>

    <h1>پروفایل کاربر</h1>

    <p><strong>نام کاربری:</strong> {{ user }}</p>

    <p><strong>نام:</strong> {{ first_name }}</p>

    <p><strong>نام خانوادگی:</strong> {{ last_name }}</p>

    <p><strong>شماره تلفن:</strong> {{ phone_number }}</p>

    <p><strong>بیوگرافی:</strong> {{ biography }}</p>

    <p><strong>تاریخ تولد:</strong> {{ date_of_birth }}</p>

    <p><strong>شهر:</strong> {{ city }}</p>

    {% if profile_picture %}
        <img src="{{ profile_picture.url }}" width="200">
    {% endif %}

    <br><br>

    <a href="{% url 'edit_profile' %}">edit profile</a>
    <a href="{% url 'home' %}">Back Home</a>
</body>
</html>