<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server List</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'home' %}">Home</a>
        <h1>your server list</h1>
        {% for item in server%}
            <p><a href="{% url 'server_information'%}?id={{ item.id }} ">{{ item.server_name }}</a></p>
                <form method='post' action={% url 'delete_server' %} >
                    {% csrf_token %}
                    <button type="submit" name='id' value='{{ item.id }}'>delete</button>
                </form>    
        {% endfor %}      

        <a href="{% url 'add_server' %}">add server</a>

    {% else %}
        <form method="get" action="{% url 'login' %}">
         <button type="submit">Enter to site</button>
        </form> {% endif %}  
</body>
</html>