{% extends "base.html" %}

{% block title %}
    Server List
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <form method="GET">

            <input
                type="text"
                name="search"
                placeholder="Search..."
                value="{{ request.GET.search }}">

            <select name="sort">

                <option value="">Sort</option>

                <option value="newest">Newest</option>

                <option value="oldest">Oldest</option>

                <option value="players">Most Players</option>

                <option value="low_players">Least Players</option>

                <option value="online">Online</option>

                <option value="offline">Offline</option>

            </select>

            <button type="submit">
                Search
            </button>

        </form>   

        <a href="{% url 'home' %}">Home</a>
        <h1>your server list</h1>
        {% for item in server%}
            <p><a href="{% url 'server_information'%}?id={{ item.id }} ">{{ item.server_name }}</a></p>
                <form method='post' action={% url 'delete_server' %} >
                    {% csrf_token %}
                    <button type="submit" name='id' value='{{ item.id }}'>delete</button>
                </form>    

            <a href="{% url 'update_server' item.id %}">update server</a>
        {% endfor %} 
         
        
        <a href="{% url 'add_server' %}">add server</a>       
    {% else %}
        <form method="get" action="{% url 'login' %}">
         <button type="submit">Enter to site</button>
        </form> {% endif %}  

{% endblock %}