{% extends "base.html" %}

{% block title %}
    Server List
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <form method="GET">

            <input
                type="text"
                name="search"
                placeholder="Search..."
                value="{{ request.GET.search }}">

            <select name="sort">

                <option value="">Sort</option>

                <option value="newest"
                {% if request.GET.sort == "newest" %}
                selected{% endif %}>
                Newest</option>

                <option value="oldest"
                {% if request.GET.sort == "oldest" %}
                selected{% endif %}>
                Oldest</option>

                <option value="players"
                {% if request.GET.sort == "players" %}
                selected{% endif %}>
                Most Players</option>

                <option value="low_players"
                {% if request.GET.sort == "low_players" %}
                selected{% endif %}>
                Least Players</option>

                <option value="online"
                {% if request.GET.sort == "online" %}
                selected{% endif %}>
                Online</option>

                <option value="offline"
                {% if request.GET.sort == "offline" %}
                selected{% endif %}>
                Offline</option>

            </select>

            <button type="submit">
                Search
            </button>

        </form>   

        <a href="{% url 'home' %}">Home</a>
        <h1>your server list</h1>
        {% for item in server%}
            <p><a href="{% url 'server_information'%}?id={{ item.id }} ">{{ item.server_name }}</a></p>
                <form method='post' action={% url 'delete_server' %} >
                    {% csrf_token %}
                    <button type="submit" name='id' value='{{ item.id }}'>delete</button>
                </form>    

            <a href="{% url 'update_server' item.id %}">update server</a>
        {% endfor %} 
         
        
        <a href="{% url 'add_server' %}">add server</a>       
    {% else %}
        <form method="get" action="{% url 'login' %}">
         <button type="submit">Enter to site</button>
        </form> {% endif %} 
        
    <div>

        {% if server.has_previous %}
            <a href="?page=1&search={{ request.GET.search }}&sort={{ request.GET.sort }}">&laquo; First</a>

            <a href="?page={{ server.previous_page_number }}&search={{ request.GET.search }}&sort={{ request.GET.sort }}">
                previous
            </a>
        {% endif %}
        
        <span>
            page {{ server.number }} of {{ server.paginator.num_pages }}
        </span>
        
        {% if server.has_next %}
            <a href="?page={{ server.next_page_number }}">
                Next
            </a>
            
            <a href="?page={{ server.paginator.num_pages }}&search={{ request.GET.search}}&sort={{ request.GET.sort }}">
                Lasr &raquo;
            </a>
        {% endif %}
    </div>            

{% endblock %}